*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(163, 187, 207, 0.822);

}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: #ffffff solid 3px;
    border-radius: 20px;
    padding: 5px;
    background: #ffffff;
    height: 60vh;
    width: 25vw;
}
img{
    border: #ffffff solid 1px;
    border-radius: 20px;
    height: 410px;
    width: 410px;
}